---
import Layout from '../layouts/Layout.astro';
import DashboardContainer from '../components/DashboardContainer.astro';
---

<Layout title="Log Analysis & Threat Detection Engine">
	<main class="main-content-area">
			<DashboardContainer />
		</main>
</Layout>
